@import "../App.scss";
@font-face {
    font-family: "Noto Sans Display";
    src: url("../../public/assets/fonts/NotoSansDisplay-VariableRegular.ttf") format("TrueType");
    font-display: swap;    
}

*{
    font-family: "Noto Sans Display", sans-serif;
    h1 {
        font-size: 4rem !important; 
      }

}

.core{
    padding: 0 20px;

    section {
    h2 {
        font-size: 3rem;
        margin: 20px 0!important;
    } 
}
}
.section-spacing{
    display: flex;
    flex-direction: column;
    gap:16px;
    @include breakpoint-small{
        gap:64px;
    }

}
