@import './mixin';

body {
  background: rgb(11,11,15);
  background: linear-gradient(0deg, rgba(11,11,15,1) 13%, rgba(17,12,36,1) 40%, rgba(4,6,33,1) 69%, rgba(8,9,27,1) 81%);
  color: #fff;
  margin: 0;
  padding: 0;
}