@import '../main.scss';
.profil-container{
    @include display-flex-centered;
    flex-direction: column;

    @include breakpoint-small{
        flex-direction: row;
        margin: 0 auto;
        width: 60%;
        gap: 10%;
    }
    .MuiAvatar-root {
        width: 30vw; 
        height: 30vw; 
    
        @include breakpoint-small {
          width: 25vw;
          height: 25vw; 
        }
    }
}